body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.button{
    cursor: pointer;
}

.login-form{
    margin: 30px 0;
}

.wrapper{
    margin-top: 40px;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 50%;
    top: 20px;
}

.chat button{
    cursor: pointer;
}

.chat input{
    margin: 10px 0;
}